/* 全ページ共通のスタイル */

/* フォントの設定 */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Segoe UI","Hiragino Sans","Meiryo";
}

/* リンクを青色に設定 */
a {
    color: blue;
}

/* テキストボックスの設定 */
input {
    background-color: #FBFBFB;
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 5px;
}