#container {
    text-align: center;

    display: grid;
    gap: 1px;
    grid-auto-rows: 180px;
    grid-template-columns: repeat(auto-fill, 310px);
}

#container div {
    outline: 1px solid black;
}

a {
    color: blue;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Segoe UI","Hiragino Sans","Meiryo";
}